/* Configuração inciial */
html, body{height: 100%; background-color: rgb(237, 237, 238); font-family: 'Montserrat', sans-serif;}

/*Configuração de classe genérica para todas as divs de conteúdos*/

.bloco{
    min-height: 100%;
    padding-top: 94px;
}

a {
    cursor: pointer;
}

p {
    line-height: 2rem;
}

#tech{
    position: absolute;
    position: fixed;
}

#faded{
    font-size: 28px;
    opacity: 60%;
}

#faded-p{
    opacity: 60%;
}

#work-exp{
    display: flex;
    gap: 30px;
}

/*Home - Banner*/

.body {
    background-color: #1a1f15;
    margin-left: 10px;
    margin-right: 10px;
}

.banner h2{
    font-size: 2.5rem;
    font-weight: 900;
    float: center;
    text-align: left;
    margin-top: 80px;
}

.banner p{
    font-size: 60px;
    line-height: 80px;
    text-align: left;
}

.botoes a{
    float: left;
    margin: 5px;
}

/*COLORS*/

.menu-color{
    background-color: transparent;
    color: rgb(10, 10, 10);
}

.menu-color:hover{
    color: rgb(255, 255, 255);
}

.menu-color-mobile{
    background-color: transparent;
    color: rgb(10, 10, 10);
}

.menu-color-mobile:hover{
    color: rgb(252, 252, 252);
}

/*LOGO*/

.logo_text{
    font-size: 0;
    margin:0;
}

.logo-img{
    width: 90px;
    margin-top: 20px;
}

/*MENU*/
.navbar{
    background-color: transparent;
    transition: background 0.5s linear;
}

.navbar ul a:hover{
    background-color: transparent;
}

.nav-color{
    background-color: rgba(32, 32, 32, 0.808);
    transition: background 0.5s linear;
}


/*Manipulação do CSS Materialize*/
nav{
    color: black;
    background-color: dimgrey;
    width: 100%;
    height: 94px;
    line-height: 94px;
}

nav.nav-extended .nav-wrapper{
    min-height: 94px;
    height: auto;
}

.navbar-fixed{
    position: absolute;
    height: 94px;
    z-index: 997;
}

nav i,
nav [class^="mdi-"], nav[class*="mdi-"],
nav i.material-icons{
    display: block;
    font-size: 24px;
    height: 94px;
    line-height: 94px;
    color: black;
}

.side-nav{
    background:url(../img/so-white.png);
    margin: 0;
    padding-top: 20px;
}

/* SOBRE */

.sobre{
    background-image: url(../img/so-white.png);
}

.sobre h2{
    font-size: 2rem;
    color: #212121;
    text-transform: uppercase;
}

.sobre h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #386d9f;
    margin: 15px auto;
}

.sobre p{
    line-height: 2rem;
    text-align: justify-cpntent;
}

/*---------- CURSOS ------------*/
.cursos {
    background-image: url(../img/so-white.png);
    margin-top: -20px;
}

.cursos h2 {
    font-size: 2rem;
    color: #212121;
    text-transform: uppercase;
}

.cursos h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #386d9f;
    margin: 15px auto;
}

/* CONTATO */

.contato h2 {
    font-size: 2rem;
    color: #212121;
    text-transform: uppercase;
}

.contato h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #386d9f;
    margin: 15px auto;
}

.contato .mapa {
    min-height: 590px;
}

.contato .mapa iframe {
    width: 100%;
    min-height: 590px;
    border: none;
}

.contato .informacoes {
    background-image: url(../img/mochaGrunge.png);
    min-height: 590px;
    padding: 30px;
}

.contato .informacoes h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
}

.contato .formulario {
    min-height: 590px;
    padding: 30px;
}

.contato .formulario h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
}

/* FOOTER */

.rodape {
    background-color: #1a1f15;
    background-size: cover;
    padding: 30px 0;
    margin-top: -20px;
}

/*------ MEDIA -------*/

@media only screen and (min-width: 480px){
    .banner p {padding-top: 200px;}
    .apoiadores {padding-top: 60px;}
}

@media only screen and (max-width: 480px){
    #work-exp {display: block;}
}

@media only screen and (min-width: 601px){
    .banner h2{font-size: 3.8rem;}
    .banner p {padding-top: 200px;}
    .apoiadores {padding-top: 90px;}
    .body {margin-left: 100px; margin-right: 100px;}
    #card-contact {padding-left: 80px; padding-right: 80px;}
}

@media only screen and (min-width: 993px){
    .banner h2{font-size: 4.2rem;}
    .banner p {padding-top: 200px;}
    .apoiadores {padding-top: 60px;}
    .card-image {display: flex; justify-content: center;}
    .body {margin-left: 300px; margin-right: 300px;}
    #card-contact {padding-left: 80px; padding-right: 80px;}
}

@media only screen and (max-width: 993px){
    #card-exp {visibility: hidden;}
}

@media only screen and (min-width:1242px){
    #card-contact {
        margin-left: 330px;
        margin-right: 330px;
        padding-left: 80px;
        padding-right: 80px;
    }
}